h4{
   text-align: center;
}
p{
    width: 60%;
    display: inline-block;
    clear: both;
    text-align: center;
}
h2{
    text-align: center;
    width: 40%;
    
}
.b{
    width: 20%; 
    float: left;
}
figure{
    display: inline-block;
}